html, body, #root, .App {
  height: 99%;
  background: linear-gradient(180deg, #0B0936 0%, #0F0928 100%);
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-shadow: 0 2px 4px 0 rgba(80, 227, 194, 0.36); }

.siema {
  color: #24DDB4;
  letter-spacing: 3px;
  font-size: 32px;
  line-height: 40px;
  cursor: pointer; }

.name-form {
  flex-direction: row; }

.title-like {
  color: #24DDB4;
  font-size: 24px; }

.LearningPage, .TaskPage {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .LearningPage .main, .TaskPage .main {
    display: flex;
    flex-direction: row;
    flex-grow: 1; }
  .LearningPage .head, .TaskPage .head {
    height: 250px;
    display: flex;
    flex-direction: row; }
    .LearningPage .head .title, .TaskPage .head .title {
      flex-grow: 1; }
    .LearningPage .head div, .TaskPage .head div {
      align-items: center;
      flex-direction: row;
      justify-content: center;
      display: flex; }
  .LearningPage .text, .TaskPage .text {
    flex-grow: 3;
    padding: 40px;
    overflow-y: auto;
    width: 350px; }
  .LearningPage .side, .TaskPage .side {
    flex-grow: 1;
    min-width: 200px; }
  .LearningPage .bottom, .TaskPage .bottom {
    display: flex;
    flex-direction: row;
    height: 350px; }
    .LearningPage .bottom .sliders, .TaskPage .bottom .sliders {
      flex-grow: 3;
      padding: 40px;
      display: flex;
      flex-direction: row; }
      .LearningPage .bottom .sliders > div, .TaskPage .bottom .sliders > div {
        flex-grow: 1;
        padding: 10px; }
    .LearningPage .bottom .buttons, .TaskPage .bottom .buttons {
      align-items: center;
      justify-items: center;
      display: flex;
      padding: 40px;
      flex-grow: 0;
      min-width: 200px; }

.StartPage {
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  justify-items: center;
  height: 100%; }
  .StartPage > div {
    display: flex;
    flex-direction: column; }

.ResultsPage {
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  justify-items: center;
  height: 100%;
  padding: 70px; }
  .ResultsPage > div {
    display: flex;
    flex-direction: column; }
  .ResultsPage img {
    height: 258px;
    width: 612px;
    margin-left: 200px; }
  .ResultsPage button {
    width: 200px;
    margin-left: 300px; }
  .ResultsPage .bottom {
    display: flex;
    flex-direction: row; }
    .ResultsPage .bottom .sliders {
      flex-grow: 3;
      padding: 40px;
      display: flex;
      flex-direction: row; }
      .ResultsPage .bottom .sliders > div {
        flex-grow: 1;
        padding: 10px; }
    .ResultsPage .bottom .buttons {
      align-items: center;
      justify-items: center;
      display: flex;
      padding: 40px;
      flex-grow: 0;
      min-width: 200px; }

.active-target {
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.manipulated-target {
  color: firebrick;
  cursor: pointer; }

.active-tool {
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

@keyframes color {
  0% {
    color: #222; }
  50% {
    color: #4285f4; }
  100% {
    color: #222; } }

.Popover-body {
  display: inline-flex;
  flex-direction: column;
  background-color: #312C56;
  width: 50vw;
  padding: 2rem;
  color: white;
  border-radius: 0.3rem; }

.logo-head {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center; }

.Popover-tipShape {
  fill: #454545; }

.toolbox-head {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.navText {
  font-size: 16px;
  cursor: pointer; }

.circle {
  width: 40px;
  height: 40px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 3px solid #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 32px; }

.tool {
  border: #4285f4;
  padding: 10px;
  margin: 10px;
  width: 397px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: row;
  font-size: 20px; }

.hyperlink {
  cursor: pointer;
  color: blue;
  text-decoration: underline; }

input {
  width: 503px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 4px 13px 0 #FFFFFF;
  background-color: rgba(0, 0, 110, 0);
  color: #ffff;
  font-size: 24px; }

button {
  height: 50px;
  width: 161px;
  border: 2px solid #15B193;
  border-radius: 10px;
  box-shadow: 0 1px 10px 0 #50E3C2;
  background-color: transparent;
  color: #ffff;
  font-size: 24px;
  cursor: pointer; }
  button.rozgrzej-button {
    height: 70px;
    width: 288px; }

.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #e9e9e9;
  height: 20px;
  border-radius: 6px;
  visibility: hidden; }

.rc-slider-disabled .rc-slider-track {
  height: 20px;
  background-color: #ccc; }

.rc-slider-disabled .rc-slider-handle, .rc-slider-disabled .rc-slider-dot {
  visibility: hidden; }

.rc-slider.rc-slider-disabled {
  visibility: hidden; }

.sliders .metric-A .rc-slider-track {
  height: 20px;
  width: 113.9px;
  border: 1px solid #4AA8E2;
  border-radius: 23px;
  background-color: #73CDFF;
  box-shadow: 0 1px 11px 0 #73CDFF; }

.sliders .metric-B .rc-slider-track {
  height: 20px;
  width: 113.9px;
  border: 1px solid #F46035;
  border-radius: 23px;
  background: linear-gradient(180deg, #FF9662 0%, #FF7B54 100%);
  box-shadow: 0 1px 12px 0 rgba(247, 138, 106, 0.81); }

.sliders .metric-D .rc-slider-track {
  height: 20px;
  width: 113.9px;
  border: 1px solid #F15881;
  border-radius: 23px;
  background-color: #F1698E;
  box-shadow: 0 1px 9px 0 #FF5D8E; }

.sliders .metric-C .rc-slider-track {
  height: 20px;
  width: 113.9px;
  border: 1px solid #9A36F1;
  border-radius: 23px;
  background: linear-gradient(180deg, #C755FF 0%, #A946FF 100%);
  box-shadow: 0 1px 9px 0 rgba(169, 70, 255, 0.86); }
