html, body, #root, .App {
  height: 99%;
  background: linear-gradient(180deg, #0B0936 0%, #0F0928 100%);
  color: #FFFFFF;

  font-family: "Source Sans Pro", sans-serif;
  font-size: 32px;
  font-weight: 500;
  text-shadow: 0 2px 4px 0 rgba(80,227,194,0.36);
}

.siema {
  color: #24DDB4;
  letter-spacing: 3px;
  line-height: 40px;
  cursor: pointer;
}

.name-form {
  flex-direction: row;
}

.title-like {
  color: #24DDB4;
  text-align: center;
}

.LearningPage, .TaskPage {
  height: 100%;

  display: flex;
  flex-direction: column;
  .main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .head {
    height: 250px;
    display: flex;
    flex-direction: row;
    .title {
      flex-grow: 1;
    }
    div {
      align-items: center;
      flex-direction: row;
      justify-content: center;
      display: flex;
    }
  }

  .text {
    flex-grow: 3;
    padding: 40px;
    overflow-y: auto;
    width: 350px;
  }

  .side {
    flex-grow: 1;
    min-width: 200px;
  }

  .bottom {
    display: flex;
    flex-direction: row;
    height: 350px;

    .sliders {
      flex-grow: 3;
      padding: 40px;
      display: flex;
      flex-direction: row;
      >div {
        flex-grow: 1;
        padding: 10px;
      }
    }
    .buttons {
      align-items: center;
      justify-items: center;
      display: flex;
      padding: 40px;
      flex-grow: 0;
      min-width: 200px;
    }
  }
}

.ResultsPage, .StartPage {
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  justify-items: center;

  height: 100%;
  > div {
    display: flex;
    flex-direction: column;
  }
}

.active-target {
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.manipulated-target {
  color: firebrick;
  cursor: pointer;
}

.active-tool {
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


@keyframes color {
  0% {
    color: #222;
  }
  50% {
    color: #4285f4;
  }
  100% {
    color: #222;
  }
}


.Popover-body {
  display: inline-flex;
  flex-direction: column;
  background-color: #312C56;
  width: 50vw;
  padding: 2rem;
  color: white;
  border-radius: 0.3rem;
}

.logo-head {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Popover-tipShape {
  fill: hsl(0, 0%, 27%)
}

.toolbox-head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navText {
  font-size: 16px;
  cursor: pointer;
}

.circle {
  width: 40px;
  height: 40px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 3px solid #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 32px;
}

.tool {
  border: #4285f4;
  padding: 10px;
  margin: 10px;

   width: 397px;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.05);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.23);

  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.hyperlink {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

input {
  width: 503px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 4px 13px 0 #FFFFFF;
  background-color: rgba(0, 0, 110, 0);
  color: #ffff;
  font-size: 24px;
}

button {
  height: 50px;
  width: 161px;
  border: 2px solid #15B193;
  border-radius: 10px;
  box-shadow: 0 4px 13px 0 #50E3C2;
  background-color: rgba(0,0,0,0);
  color: #ffff;
  font-size: 24px;
  cursor: pointer;

  &.rozgrzej-button {
    height: 70px;
    width: 288px;
  }
}