html, body, #root, .App {
  height: 100%;
}

.LearningPage, .TaskPage {
  height: 100%;

  display: flex;
  flex-direction: column;
  .main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .text {
    flex-grow: 3;
    padding: 40px;
    overflow-y: auto;
  }

  .side {
    flex-grow: 1;
    padding: 40px;
  }

  .bottom {
    padding: 40px;
  }
}

.active-target {
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.manipulated-target {
  color: firebrick;
  cursor: pointer;
}

.active-tool {
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


@keyframes color {
  0% {
    color: #222;
  }
  50% {
    color: #4285f4;
  }
  100% {
    color: #222;
  }
}


.Popover-body {
  display: inline-flex;
  flex-direction: column;
  padding: 2rem 4rem;
  background: hsl(0, 0%, 27%);
  color: white;
  border-radius: 0.3rem;
}

.Popover-tipShape {
  fill: hsl(0, 0%, 27%)
}

.tool {
  border: #4285f4;
  padding: 10px;
}